/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* Doodle Stage */
#stage {
  position: relative;
/* Change the canvas size fixed units only*/
  height: 300px;
  width: 600px;
  top: -20px;
}

.pikachu {
/*   scale: .25; */
  width: 147.5px;
  height: 91.5px;
  position: absolute;
  left: 229px;
  top: 188px;
}

.pokeball {
  position: absolute;
/*   scale: .13; */
  height: 78px;
  width: 78px;
  top: 201px;
  left: 163px;
}

.google {
  position: absolute;
  left: 110px;
  right: 110px;
  top: 165px;
  scale: 1.5;
  
}